@font-face {
    font-family: 'pixel';
    src: url('/fonts/I-pixel-u.ttf');
}

body {
    background-image: repeating-linear-gradient(45deg, #ddd, #ccc 5px, #dbdbdb 5px, #dbdbdb 10px);
    font-family: 'pixel';
}

main header {
    position: relative;
    top: 10vh;
    text-align: center;
}

.title {
    display: inline-block;
    padding: 0 5px;
    border: 2px dashed #535353;
}

#game-container {
    position: relative;
    top: 15vh;
}

#game-container canvas {
    margin: 0 auto;
    border-width: 3px;
    border-style: ridge;
}
